##분류 Classification

- 분류기 Classifier 
- Support Vector Machine
- K-Nearest Neighbors

## 분류기란?

강아지와 고양이의 사진을 보고 분류하는 기계

 - 분류 : Classify
 - 기계 : Machine
 = 분류기 : Classifier

## IRIS 데이터셋을 이용한 실습

##데이터셋 로드

In [2]:
from sklearn.datasets import load_iris
import pandas as pd

iris = load_iris()

df = pd.DataFrame(data=iris['data'], columns=iris['feature_names'])
df['target'] = iris['target']

df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

##Preprosessing

데이터셋 분할

In [5]:
from sklearn.model_selection import train_test_split
x_train, x_val, y_train, y_val = train_test_split(df.drop(columns=['target']), df[['target']], test_size=0.2, random_state=2021)

print(x_train.shape, y_train.shape)
print(x_val.shape, y_val.shape)

(120, 4) (120, 1)
(30, 4) (30, 1)

##모델 정의

In [9]:
from sklearn.svm import SVC

model = SVC()

##학습 training

In [11]:
model.fit(x_train, y_train['target'])

SVC()

##검증 Validation

In [12]:
from sklearn.metrics import accuracy_score
y_pred = model.predict(x_val)
accuracy_score(y_val, y_pred) * 100

100.0